@keyframes wavy-face {
  from {
    transform: translateX(calc(-1 * var(--wavy-face-shift)))
      rotate(calc(-1 * var(--wavy-face-degree))) scale(var(--wavy-face-scale));
  }
  50% {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--wavy-face-shift))
      rotate(var(--wavy-face-degree)) scale(var(--wavy-face-scale));
  }
}
