:root {
  font-family: var(--common-font), system-ui, -apple-system, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black-color);
  background-color: var(--white-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  margin-bottom: 80px
}

.section__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-bottom: 40px;
}

.section__title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: center;
}

.section__title--decoration {
  position: relative;
}

.section__title--decoration::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 5px;
  left: -2px;
  right: -2px;
  height: 12px;
  border-radius: 8px;
  background-color: rgb(190, 232, 204);
}

.section__content {
  max-width: 700px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(18, 20, 23, 50%);
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .section {
    margin-bottom: 100px
  }

  .section__head {
    margin-bottom: 64px;
  }

  .section__title {
    font-size: 40px;
    line-height: 48px;
  }

  .section__title--decoration::after {
    height: 16px;
  }

  .section__content {
    font-size: 18px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
  }

  .section {
    margin-bottom: 96px
  }

  .container__content {
    padding: 0 64px;
  }

  .section__title--decoration::after {
    bottom: 2px;
    height: 20px;
  }
}

/* #region Logo */
/* Logo, reusable part */
.logo {
  color: var(--green-color);
  font-weight: 700;
  font-size: 20px;
}
/* #endregion */

/* #region Nav links */
/* Navigation links, reusable part */
.nav_link {
  /* to power pseudo-element */
  position: relative;

  font-weight: 600;
  font-size: var(--navigation-font-size);
  line-height: 1.29;
}
.nav_link:after {
  content: '';

  position: absolute;
  bottom: -5px;
  left: 0;

  width: 37px;
  height: 2px;
  background-color: var(--green-color);

  /* transition, define it here, and make it visible when :hover */
  transition: var(--default-trns);
  transition-property: scale;
  scale: 0;
  transform-origin: left;
}
.nav_link:hover::after {
  scale: 1;
}
/* #endregion */

/* #region Socials */
/* Socials, reusable part */
.main-socials__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.main-socials__link {
  border: 1px solid rgb(from currentColor r g b / 0.1);
  border-radius: 10px;
  padding: 7px; /* note padding here, it's 7 instead of 8, to consider 1px border and preserve total size of item as 44px */

  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--default-trns);
  transition-property: color, border-color;
}
.main-socials__link:hover {
  border-color: rgb(from currentColor r g b / 0.1);
}
.main-socials__link_icon {
  width: 28px;
  height: 28px;

  fill: currentColor;
}
/* #endregion */
