:root {
  /* Colors */
  --white-color: #fff;
  --white-color-50: #ffffff80;
  --black-color: #121417;
  --green-color: #4dc274;
  --dark-green-color: #38ae5f;
  --light-green-color: #d4fde1;
  --lighter-green-color: #bee8cc;
  --gray-color: #f3f5f6;

  /* Borders */
  --button-border-radius: 12px;
  --field-border-radius: 12px;
  --card-border-radius: 30px;
  --card-border-radius-mobile: 16px;
  --portrait-border-radius: 500px;

  /* Icons */
  --menu-icon-width-mobile: 32px;
  --menu-icon-width: 40px;

  --arrow-icon-width-mobile: 38px;
  --arrow-icon-width: 48px;

  --social-icon-width-mobile: 42px;
  --social-icon-width: 44px;

  /* Transitions */
  --default-trns: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Fonts */
  --common-font: Manrope;

  --button-font-size: 18px;
  --button-font-size-mobile: 14px;

  --field-font-size: 16px;
  --field-font-size-mobile: 14px;

  --heading-font-size: 40px;
  --heading-font-size-mobile: 32px;

  --description-font-size: 18px;
  --description-font-size-mobile: 14px;

  --navigation-font-size: 14px;

  --hero-font-size: 60px;
  --hero-font-size-mobile: 38px;

  --proposal-header-font-size: 60px;
  --proposal-header-font-size-mobile: 38px;
  --proposal-subheader-font-size: 40px;
  --proposal-subheader-font-size-mobile: 20px;
  --proposal-features-font-size: 20px;

  --application-card-header-font-size: 40px;
  --application-card-description-font-size: 16px;

  --application-section-header-font-size: 20px;
  --application-section-header-font-size-mobile: 18px;
  --radio-button-font-size: 18px;
  --radio-button-font-size-mobile: 14px;

  --review-name-font-size: 20px;
  --review-role-font-size: 12px;
  --review-descr-font-size: 16px;
  --review-descr-font-size-mobile: 14px;

  --bio-name-font-size: 20px;
  --bio-descr-font-size: 16px;
  --bio-descr-font-size-mobile: 14px;

  --benefit-number-font-size: 28px;
  --benefit-text-font-size: 20px;

  --plan-name-font-size: 20px;
  --plan-price-font-size: 32px;
  --plan-descr-font-size: 16px;
  --plan-descr-font-size-mobile: 14px;

  --privacy-agreement-font-size: 14px;
  --privacy-agreement-font-size-mobile: 12px;

  --footer-address-font-size: 14px;
  --footer-legal-font-size: 14px;

  /* Header */
  --header-mobile-height: 67px;
  --header-tablet-height: 68px;
  --header-desktop-height: 84px;

  /* Section */
  --section-mobile-padding-y: 40px;
  --section-tablet-padding-y: 50px;
  --section-desktop-padding-y: 75px;

  /* Hero */
  --hero-mobile-padding-top: 8px;
  --hero-tablet-padding-top: 32px;
  --hero-desktop-padding-top: 16px;

  /* Animations */
  --wavy-face-duration: 2.5s;
  --wavy-face-timing: ease-in-out;
  --wavy-face-degree: 10deg;
  --wavy-face-shift: 5%;
  --wavy-face-scale: 0.9;
}
