.header {
  padding: 20px 0px;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__mobile_menu_button {
  width: 32px;
  height: 32px;

  padding: 0;
  border: none;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header__mobile_menu_button {
    width: 40px;
    height: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__mobile_menu_button {
    display: none;
  }
}

.header__mobile_menu_icon {
  stroke: var(--black-color);
}

/* Logo */
/* TODO logo part into base styles? */
.logo {
  color: var(--green-color);
  font-weight: 700;
  font-size: 20px;
}

.logo__link--dark {
  color: var(--black-color);
}

/* Nav, visible only on desktop */
.nav {
  display: none;
}
@media only screen and (min-width: 768px) {
  .nav {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .nav {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    /* justify-content: space-between; */
    /* justify-items: center; */
  }
}

/* Nav links, visible only on desktop */
.header__nav_list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  gap: 20px;
}

.header__nav_link {
  /* to power pseudo-element */
  position: relative;

  /* just for case, since size of pseudo-element is 37px */
  min-width: 37px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: var(--black-color);
}
.header__nav_link:after {
  content: '';

  position: absolute;
  bottom: -5px;
  left: 0;

  width: 37px;
  height: 2px;
  background-color: var(--green-color);

  /* transition, define it here, and make it visible when :hover */
  transition: var(--default-trns);
  transition-property: scale;
  scale: 0;
  transform-origin: left;
}
.header__nav_link:hover::after {
  scale: 1;
}

/* Socials, visible only on desktop */
/* TODO socials to base styles maybe? */
.socials {
  display: none;
}
@media only screen and (min-width: 768px) {
  .socials {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .socials {
    display: flex;
    align-items: center;
  }
}

.socials__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.socials__item {
}
.socials__link {
  /* apply alpha channel to black color to achieve border at 10% */
  border: 1px solid rgb(from var(--black-color) r g b / 0.1);
  border-radius: 10px;
  padding: 7px; /* note padding here, it's 7 instead of 8, to consider 1px border and preserve total size of item as 44px */

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--black-color);
}
.socials__link:hover {
  color: var(--green-color);

  /* apply alpha channel to green color to achieve border at 10% */
  border-color: rgb(from var(--green-color) r g b / 0.1);
}

.socials__link_icon {
  width: 28px;
  height: 28px;

  fill: currentColor;
}
