.header {
  padding: 20px 0px;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__mobile_menu_button {
  width: 32px;
  height: 32px;

  padding: 0;
  border: none;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header__mobile_menu_button {
    width: 40px;
    height: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__mobile_menu_button {
    display: none;
  }
}

.header__mobile_menu_icon {
  stroke: var(--black-color);
}

/* Nav is visible only on desktop */
.nav {
  display: none;
}
@media only screen and (min-width: 768px) {
  .nav {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .nav {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    /* justify-items: center; */
  }
}

.header__nav_list {
  display: flex;
  flex-direction: row;
}

/* Socials is visible only on desktop */
/* TODO socials to base styles maybe? */
.socials {
  display: none;
}
@media only screen and (min-width: 768px) {
  .socials {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .socials {
    display: flex;
    align-items: center;
  }
}

.socials__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
