.hero {
    padding-top: 8px;
}

.hero__container {
    position: relative;
    border-radius: var(--card-border-radius-mobile);
    max-height: calc(100vh - 67px - 16px);
    height: 709px;
    overflow: hidden;
    display: flex;
    padding: 72px 20px;
}

.hero__content {
    margin-top: auto;
}

.hero__title {
    margin-bottom: 40px;
    font-size: 38px;
    color: var(--white-color);
    line-height: 40px;
}

.hero__button {
    border-radius: var(--button-border-radius);
    background: var(--green-color);
    height: 52px;
    border: none;
    line-height: 24px;
    font-weight: 700;
    font-size: var(--button-font-size-mobile);
    color: var(--white-color);
    width: 100%;
    max-width: 295px;
}


.hero__button:active,
.hero__button:hover {
    background: #38AE5F;
}

.hero__title span {
    color: #BEE8CC;
}

.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    z-index: -1;
}

.hero__arrow {
    position: absolute;
    bottom: 14px;
    right: 14px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__arrow:active,
.hero__arrow:hover {
    background: var(--green-color);
}

.hero__arrow-icon {
    fill: var(--green-color);
    width: 20px;
    height: 20px;
}


.hero__arrow:active .hero__arrow-icon,
.hero__arrow:hover .hero__arrow-icon {
    fill: var(--white-color);
}

@media only screen and (min-width: 768px) {
    .hero__container {
        height: 857px;
        padding: 32px;
        align-items: center;
        border-radius: var(--card-border-radius);
    }

    .hero__content {
        margin-top: unset;
        width: 72%;
    }

    .hero__title {
        font-size: 60px;
        line-height: 70px;
    }

    .hero__button {
        max-width: 306px;
        line-height: 28px;
        font-size: var(--button-font-size);
    }

    .hero__arrow {
        bottom: 32px;
        right: 32px;
        width: 48px;
        height: 48px;
    }

    .hero__arrow-icon {
        width: 24px;
        height: 24px;
    }
}

@media only screen and (min-width: 1280px) {
    .hero__container {
        height: 629px;
        padding: 64px;
    }

    .hero__content {
        margin-top: unset;
        width: 56%;
    }
}
