.proposal {
  padding: 40px 20px 70px 20px;
  border-radius: 30px;
  background: linear-gradient(
    84.6deg,
    var(--green-color) 2.25%,
    var(--lighter-green-color) 131.25%
  );
}

.proposal__content-wrapper {
  position: relative;
  z-index: 0;
}

.proposal__content-wrapper::before,
.proposal__content-wrapper::after {
  content: '';
  position: absolute;
  border-radius: 30px;
}

.proposal__content-wrapper::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--lighter-green-color);
  transform: rotate(-8deg);
  z-index: -1;
}

.proposal__content-wrapper::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--half-white-color);
  transform: rotate(11deg);
  z-index: -1;
}

.proposal__header {
  margin-bottom: 55px;
  font-weight: 700;
  font-size: var(--proposal-header-font-size-mobile);
  line-height: 1.05;
  color: var(--white-color);
}

.proposal__header--span {
  color: var(--lighter-green-color);
}

.proposal__content {
  padding: 40px 20px;
  border-radius: 16px;
  background-color: var(--white-color);
}

.proposal__subheader {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: var(--proposal-subheader-font-size-mobile);
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--black-color);
}

.proposal__feature-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 16px;
}

.proposal__feature {
  display: flex;
  align-items: center;
  gap: 8px;
}

.proposal__icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--green-color);
}

.proposal__icon {
  fill: var(--white-color);
}

.proposal__text {
  display: inline-block;
  font-weight: 700;
  font-size: var(--proposal-features-font-size-mobile);
  line-height: 1.45;
  letter-spacing: -0.02em;
  color: var(--black-color);
}

.proposal_btn {
  padding: 14px 0;
  width: 100%;
  font-weight: 700;
  font-size: var(--button-font-size-mobile);
  line-height: 1.55;
  border: none;
  border-radius: 12px;
  background-color: var(--green-color);
  color: var(--white-color);
  transition: var(--default-trns);
}

.proposal_btn:hover,
.proposal_btn:focus {
  background-color: var(--dark-green-color);
}

.proposal__img {
  display: none;
}

@media only screen and (min-width: 768px) {
  .proposal {
    padding: 64px 18px 96px 18px;
  }

  .proposal__content-wrapper::before {
    transform: rotate(-9.86deg);
  }

  .proposal__content-wrapper::after {
    transform: rotate(10.65deg);
  }

  .proposal__header {
    margin-bottom: 96px;
    padding: 0 32px;
    font-size: var(--proposal-header-font-size);
  }

  .proposal__content {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 64px 0 64px 32px;
  }

  .proposal__subheader {
    margin-bottom: 32px;
    font-size: var(--proposal-subheader-font-size);
    line-height: 1.2;
  }

  .proposal__feature-list {
    margin-bottom: 32px;
  }

  .proposal__feature {
    gap: 16px;
  }

  .proposal__text {
    font-size: var(--proposal-features-font-size);
    line-height: 1.2;
  }

  .proposal__img {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
  }

  .proposal_btn {
    width: unset;
    padding: 16px 64px;
    font-size: var(--button-font-size);
    line-height: 1.55;
  }
}

@media only screen and (min-width: 1280px) {
  .proposal {
    padding: 64px 64px 144px 64px;
  }

  .proposal__content-wrapper::before {
    transform: rotate(-8deg);
  }

  .proposal__content-wrapper::after {
    transform: rotate(11deg);
  }

  .proposal__header {
    margin-bottom: 145px;
    padding: 0;
  }

  .proposal__content {
    padding: 72px 0 72px 72px;
    border-radius: 30px;
  }
}
