.section__reviews {
  padding-bottom: calc(var(--section-mobile-padding-y) * 2);
}

.reviews__item {
  padding: 20px;
  background-color: var(--gray-color);
  border-radius: 16px;
  overflow: hidden;
}

.reviews__user {
  border-radius: 8px;
  background-color: var(--green-color);
  display: flex;
  align-items: center;
  padding: 14px 14px;
}

.reviews__img {
  margin-right: 8px;
}

.reviews__name {
  font-weight: 700;
  font-size: var(--review-name-font-size);
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--white-color);
  margin-bottom: 2px;
}

.reviews__role {
  font-size: var(--review-role-font-size);
  line-height: 1.33;
  color: var(--half-white-color);
}

.reviews__description {
  font-size: var(--review-descr-font-size-mobile);
  line-height: 1.71;
  color: var(--half-black-color);
  margin: 20px 14px 0;
}

.swiper-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.swiper-slide {
  flex: 0 0 auto;
}

@media only screen and (min-width: 768px) {
  .section__reviews {
    padding-bottom: calc(var(--section-tablet-padding-y) * 2);
  }

  .reviews__list li:nth-last-child(-n + 2) {
    display: block;
  }

  .reviews__item {
    width: calc((100% - 32px) / 2);
    padding: 32px 16px 16px;
    border-radius: 30px;
  }

  .reviews__user {
    padding: 14px 16px;
    border-radius: 15px;
  }

  .reviews__description {
    font-size: var(--review-descr-font-size);
    line-height: 1.5;
    margin: 32px 16px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .section__reviews {
    padding-bottom: calc(var(--section-desktop-padding-y) * 2);
  }

  .reviews__list li:nth-last-child(-n + 1) {
    display: block;
  }

  .reviews__item {
    width: calc((100% - 64px) / 3);
  }
}
