<section class="section about" id="about-us">
  <div class="container">
    <div class="section__head">
      <h2 class="section__title">
        About <span class="section__title--decoration">Us</span>
      </h2>

      <p class="section__content">
        We are dedicated to providing engaging and effective English language
        courses in a supportive and stimulating learning environment
      </p>
    </div>

    <div class="about__content">
      <ol class="about__features">
        <li class="about__feature">
          <div class="about__feature-number">01</div>
          <p class="about__feature-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about__feature">
          <div class="about__feature-number">02</div>
          <p class="about__feature-text">
            Wide range of course levels and options
          </p>
        </li>
        <li class="about__feature">
          <div class="about__feature-number">03</div>
          <p class="about__feature-text">Multicultural learning environment</p>
        </li>
        <li class="about__feature">
          <div class="about__feature-number">04</div>
          <p class="about__feature-text">
            Comprehensive language support services
          </p>
        </li>
      </ol>

      <div class="about__image-wrapper">
        <picture>
          <source
            srcset="
              ./img/about-us/memoji.webp    1x,
              ./img/about-us/memoji@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/about-us/memoji.png    1x,
              ./img/about-us/memoji@2x.png 2x
            "
          />
          <img
            loading="lazy"
            src="./img/about-us/memoji.png"
            alt="Emoji character"
            class="about__image"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
