<section class="section section__application" id="contact-us">
  <div class="container container__content">
    <div class="section__head">
      <h2 class="section__title">
        Leave an <span class="section__title--decoration">application</span>
      </h2>
      <p class="section__content">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
    </div>
    <div class="application__container">
      <div class="application__container__image">
        <div class="application__image__box"></div>
        <div class="application__text__box">
          <span>1000</span>
          <p>
            of our online English language lessons! This journey has been full
            of discovery, growth and unforgettable moments, and we are happy to
            share this joyful event with you.
          </p>
        </div>
      </div>
      <form name="application" class="application__form">
        <div class="form__inputs__box">
          <label for="name" class="application__label">
            <input
              class="application__input"
              type="text"
              name="name"
              id="name"
              placeholder="Name"
              pattern="[A-Za-z]{1,32}"
              required
            />
          </label>
          <label for="email" class="application__label">
            <input
              class="application__input"
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
              required
            />
          </label>
          <label for="phone" class="application__label">
            <input
              class="application__input"
              type="tel"
              name="phone"
              id="phone"
              placeholder="Phone"
              pattern="[0-9]{10}"
              required
            />
          </label>
          <textarea
            class="application__textarea"
            name="comment"
            id="comment"
            placeholder="Comment"
          ></textarea>
        </div>
        <p class="radio__title">Choose a teacher</p>
        <div class="form__radio__box">
          <div class="radio__item">
            <input type="radio" id="maria" name="name" value="maria" />
            <label for="maria">Maria</label>
          </div>
          <div class="radio__item">
            <input type="radio" id="artem" name="name" value="artem" />
            <label for="artem">Artem</label>
          </div>
          <div class="radio__item">
            <input type="radio" id="ilona" name="name" value="ilona" />
            <label for="ilona">Ilona</label>
          </div>
          <div class="radio__item">
            <input type="radio" id="volodymyr" name="name" value="volodymyr" />
            <label for="volodymyr">Volodymyr</label>
          </div>
        </div>
        <button class="form__submit__btn" type="submit">Send</button>
        <p class="application__form__agreement">
          By clicking on “Send” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
