<footer class="footer">
  <div class="container container__content">
    <div class="logo">
      <a class="logo__link" href="./index.html"
        ><span class="logo__link--light">english</span>excellence<span
          class="logo__link--light"
          >.</span
        ></a
      >
    </div>

    <address>
      <p class="address__label">Phone number:</p>
      <a class="address_value" href="tel:+380684439426">+380 (68) 443-94-26</a>

      <p class="address__label">Address:</p>
      <a
        class="address_value"
        href="https://maps.app.goo.gl/kUcMeA7NCwo3jbFt5"
        target="_blank"
        rel="noopener noreferrer"
        >32a M. Bazhana ave</a
      >
    </address>

    <ul>
      <li><a class="footer__nav_link--dark" href="#">About us</a></li>
      <li><a class="footer__nav_link--dark" href="#">Our lessons</a></li>
      <li><a class="footer__nav_link--dark" href="#">Teachers</a></li>
      <li><a class="footer__nav_link--dark" href="#">Reviews</a></li>
      <li><a class="footer__nav_link--dark" href="#">Contact us</a></li>
    </ul>

    <ul class="footer__social-list">
      <li class="main-socials__item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="main-socials__link main-socials__link--light"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg class="main-socials__link_icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="main-socials__item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="main-socials__link main-socials__link--light"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg class="main-socials__link_icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="main-socials__item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="main-socials__link main-socials__link--light"
          rel="noopener noreferrer"
          target="_blank"
        >
          <svg class="main-socials__link_icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="legal">
      <p>©2023 English Excellence. All rights reserved.</p>
      <ul>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms of Service</a></li>
      </ul>
    </div>
  </div>
</footer>
