<footer class="footer" id="footer">
  <div class="container container__content">
    <div class="footer_links">
      <div class="footer_contacts">
        <div class="logo">
          <a class="logo__link" href="./index.html">
            <span class="logo__link--light">english</span>
            excellence
            <span class="logo__link--light">.</span>
          </a>
        </div>

        <address class="address">
          <ul class="address_list">
            <li>
              <p class="address__label">Phone number:</p>
              <a class="address_value" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li>
              <p class="address__label">Address:</p>
              <a
                class="address_value"
                href="https://maps.app.goo.gl/kUcMeA7NCwo3jbFt5"
                target="_blank"
                rel="noopener noreferrer"
                >32a M. Bazhana ave</a
              >
            </li>
          </ul>
        </address>
      </div>

      <ul class="footer__nav-list">
        <li>
          <a class="nav_link footer__nav_link--dark" href="#about-us">
            About us
          </a>
        </li>
        <li>
          <a class="nav_link footer__nav_link--dark" href="#our-lessons">
            Our lessons
          </a>
        </li>
        <li>
          <a class="nav_link footer__nav_link--dark" href="#teachers">
            Teachers
          </a>
        </li>
        <li>
          <a class="nav_link footer__nav_link--dark" href="#reviews">
            Reviews
          </a>
        </li>
        <li>
          <a class="nav_link footer__nav_link--dark" href="#contact-us">
            Contact us
          </a>
        </li>
      </ul>

      <ul class="main-socials__list footer__social-list">
        <li class="main-socials__item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="main-socials__link main-socials__link--light"
            aria-label="Facebook link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="main-socials__link_icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="main-socials__item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="main-socials__link main-socials__link--light"
            aria-label="Instagram link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="main-socials__link_icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="main-socials__item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="main-socials__link main-socials__link--light"
            aria-label="Youtube link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="main-socials__link_icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="legal">
      <p>©2023 English Excellence. All rights reserved.</p>
      <ul class="legal__links-list">
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms of Service</a></li>
      </ul>
    </div>
  </div>
</footer>
