<header class="header">
  <div class="container container__content">
    <div class="logo">
      <a class="logo__link" href="./index.html"
        ><span class="logo__link--dark">english</span>excellence<span
          class="logo__link--dark"
          >.</span
        ></a
      >
    </div>

    <!-- Mobile menu button, will be hidden on desktop -->
    <button class="menu-button" type="button" aria-label="Menu">
      <svg class="menu-button_icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <nav class="header__nav">
      <!-- Navigation menu, visible only on desktop -->
      <ul class="header__nav_list">
        <li>
          <a href="#about-us" class="nav_link header__nav_link--dark"
            >About us</a
          >
        </li>
        <li>
          <a href="#our-lessons" class="nav_link header__nav_link--dark"
            >Our lessons</a
          >
        </li>
        <li>
          <a href="#teachers" class="nav_link header__nav_link--dark"
            >Teachers</a
          >
        </li>
        <li>
          <a href="#reviews" class="nav_link header__nav_link--dark">Reviews</a>
        </li>
        <li>
          <a href="#contact-us" class="nav_link header__nav_link--dark"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>

    <!-- Socials, vissible only on mobile/tablet -->
    <div class="header-socials">
      <ul class="main-socials__list">
        <li class="main-socials__item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="main-socials__link main-socials__link--dark"
            aria-label="Facebook link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="main-socials__link_icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="main-socials__item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="main-socials__link main-socials__link--dark"
            aria-label="Instagram link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="main-socials__link_icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="main-socials__item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="main-socials__link main-socials__link--dark"
            aria-label="Youtube link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="main-socials__link_icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
