<!-- Adaptive header, by Volodymyr Vladykin -->
<header class="header">
  <div class="header__container container">
    <!-- Logo, link to core page -->
    <div class="logo">
      <a class="logo__link" href="./index.html"
        ><span class="logo__link--dark">english</span>excellence<span
          class="logo__link--dark"
          >.</span
        ></a
      >
    </div>

    <!-- Mobile menu button, will be hidden on desktop -->
    <button class="header__mobile_menu_button" type="button">
      <svg class="header__mobile_menu_icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <!-- Main navigation -->
    <nav class="nav">
      <!-- Navigation menu (visible only on desktop) -->
      <ul class="header__nav_list">
        <li><a href="#" class="header__nav_link">About us</a></li>
        <li><a href="#" class="header__nav_link">Our lessons</a></li>
        <li><a href="#" class="header__nav_link">Teachers</a></li>
        <li><a href="#" class="header__nav_link">Reviews</a></li>
        <li><a href="#" class="header__nav_link">Contact us</a></li>
      </ul>
    </nav>

    <div class="socials">
      <ul class="socials__list">
        <li class="socials__item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="socials__link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="socials__link_icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="socials__link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="socials__link_icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="socials__link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="socials__link_icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
