<section class="hero container">
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Discover the joy of learning <span class="hero__highlight">English</span> with us!
      </h1>

      <button class="hero__button">Leave an application</button>
    </div>

    <picture>
      <source srcset="./img/hero/hero-desk.jpg 1x, ./img/hero/hero-desk@2x.jpg 2x" media="(min-width: 1280px)">
      <source srcset="./img/hero/hero-tab.jpg 1x, ./img/hero/hero-tab@2x.jpg 2x" media="(min-width: 768px)">
      <source srcset="./img/hero/hero-mob.jpg 1x, ./img/hero/hero-mob@2x.jpg 2x" media="(max-width: 767px)">
      <img src="./img/hero/hero-mob.jpg" alt="Smiling girl learning English" class="hero__image">
    </picture>

    <a href="#footer" class="hero__arrow">
      <svg class="hero__arrow-icon">
        <use href="./img/sprite.svg#icon-arrow"></use>
      </svg>
    </a>
  </div>
</section>
