<div class="menu-overlay">
  <nav class="menu">
    <div class="menu-close">
      <svg viewBox="0 0 40 40">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </div>

    <div class="menu-navigation">
      <a href="#" class="menu-link">Home</a>
      <a href="#" class="menu-link">About</a>
      <a href="#" class="menu-link">Services</a>
      <a href="#" class="menu-link">Portfolio</a>
      <a href="#" class="menu-link">Contact</a>
    </div>

    <div class="menu-socials">
      <div class="social-icon">
        <svg viewBox="0 0 40 40">
          <use href="./img/sprite.svg#icon-facebook"></use>
        </svg>
      </div>
      <div class="social-icon">
        <svg viewBox="0 0 40 40">
          <use href="./img/sprite.svg#icon-instagram"></use>
        </svg>
      </div>
      <div class="social-icon">
        <svg viewBox="0 0 40 40">
          <use href="./img/sprite.svg#icon-youtube"></use>
        </svg>
      </div>
    </div>
  </nav>
</div>
