<div class="menu-overlay is-shown">
  <div class="menu">
    <div class="menu-close">
      <svg viewBox="0 0 40 40">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </div>

    <nav>
      <ul class="menu-navigation">
        <li>
          <a href="#" class="menu-link">Home</a>
        </li>
        <li>
          <a href="#" class="menu-link">About</a>
        </li>
        <li>
          <a href="#" class="menu-link">Services</a>
        </li>
        <li>
          <a href="#" class="menu-link">Portfolio</a>
        </li>
        <li>
          <a href="#" class="menu-link">Contact</a>
        </li>
      </ul>
    </nav>

    <ul class="menu-socials">
      <li class="social-icon">
        <a href="https://www.facebook.com/goITclub/" target="_blank">
          <svg viewBox="0 0 40 40">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-icon">
        <a href="https://www.instagram.com/goitclub/" target="_blank">
          <svg viewBox="0 0 40 40">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-icon">
        <a href="https://www.youtube.com/c/GoIT" target="_blank">
          <svg viewBox="0 0 40 40">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
