<section class="section section__teachers" id="teachers">
  <div class="container container__content">
    <div class="section__head">
      <h2 class="section__title">
        Meet our <span class="section__title--decoration">teachers</span>
      </h2>

      <p class="section__content">
        Discover our team of dedicated educators, committed to guiding you on
        your journey to English proficiency with personalized and engaging
        instruction
      </p>
    </div>

    <ul class="teachers__list">
      <li class="teachers__item">
        <picture>
          <source
            srcset="./img/our-teachers/teacher1.webp 1x, ./img/our-teachers/teacher1@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./img/our-teachers/teacher1.png 1x, ./img/our-teachers/teacher1@2x.png 2x"
          />
          <img
            loading="lazy"
            src="./img/our-teachers/teacher1.png"
            alt="Maria teacher"
            class="teacher__img"
            width="150"
            height="150"
          />
        </picture>

        <h3 class="teacher__name">Maria</h3>

        <p class="teacher__description">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>

      <li class="teachers__item">
        <picture>
          <source
            srcset="./img/our-teachers/teacher2.webp 1x, ./img/our-teachers/teacher2@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./img/our-teachers/teacher2.png 1x, ./img/our-teachers/teacher2@2x.png 2x"
          />
          <img
            loading="lazy"
            src="./img/our-teachers/teacher2.png"
            alt="Artem teacher"
            class="teacher__img"
            width="150"
            height="150"
          />
        </picture>

        <h3 class="teacher__name">Artem</h3>

        <p class="teacher__description">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>

      <li class="teachers__item">
        <picture>
          <source
            srcset="./img/our-teachers/teacher3.webp 1x, ./img/our-teachers/teacher3@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./img/our-teachers/teacher3.png 1x, ./img/our-teachers/teacher3@2x.png 2x"
          />
          <img
            loading="lazy"
            src="./img/our-teachers/teacher3.png"
            alt="Artem teacher"
            class="teacher__img"
            width="150"
            height="150"
          />
        </picture>

        <h3 class="teacher__name">Ilona</h3>

        <p class="teacher__description">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>

      <li class="teachers__item">
        <picture>
          <source
            srcset="./img/our-teachers/teacher4.webp 1x, ./img/our-teachers/teacher4@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./img/our-teachers/teacher4.png 1x, ./img/our-teachers/teacher4@2x.png 2x"
          />
          <img
            loading="lazy"
            src="./img/our-teachers/teacher4.png"
            alt="Artem teacher"
            class="teacher__img"
            width="150"
            height="150"
          />
        </picture>

        <h3 class="teacher__name">Volodymyr</h3>

        <p class="teacher__description">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
