<section class="section section__lessons" id="our-lessons">
  <div class="container container__content">
    <div class="section__head">
      <h2 class="section__title">
        Our <span class="section__title--decoration">lessons</span>
      </h2>
      <p class="section__content">
        Our lessons are carefully structured and interactive, designed to
        promote rapid language acquisition through practical tasks and
        real-world scenarios
      </p>
    </div>
    <ul class="lessons__list">
      <li class="lessons__item">
        <h3 class="lessons__plan">Practice</h3>
        <span class="lessons__price">40$ / month</span>
        <p class="lessons__description">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <button class="lessons__btn application-button" type="button">
          Leave an application
        </button>
      </li>
      <li class="lessons__item lessons__item--green">
        <h3 class="lessons__plan lessons-text--white">Standard</h3>
        <span class="lessons__price lessons-text--white">70$ / month</span>
        <p class="lessons__description lessons-text--white">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <button
          class="lessons__btn lessons__btn--white application-button"
          type="button"
        >
          Leave an application
        </button>
      </li>
      <li class="lessons__item">
        <h3 class="lessons__plan">Individual</h3>
        <span class="lessons__price">99$ / month</span>
        <p class="lessons__description">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <button class="lessons__btn application-button" type="button">
          Leave an application
        </button>
      </li>
    </ul>
  </div>
</section>
