<section class="section section__our-teachers">
  <div class="container container__our-teachers">
    <div class="section__head">
      <h2 class="section__title">
        Meet our <span class="section__title--decoration">teachers</span>
      </h2>
      <p class="section__content">
        Discover our team of dedicated educators,
        committed to guiding you on your journey to English
        proficiency with personalized and engaging instruction
      </p>
    </div>

    <ul class="teachers__list">
      <li class="teachers__item">
        <img
          srcset="
          ../img/teacher1.webp,
          ../img/teacher1@2x.webp
          "
          alt="Maria teacher"
          class="teacher__img"
          width="150"
          height="150"
        >
        <h3 class="teacher__name">
          Maria
        </h3>
        <p class="teacher__description">
          A seasoned linguist and our primary specialist in
          beginner-level instruction, Maria brings warmth and
          patience to every class
        </p>
      </li>
      <li class="teachers__item">
        <img
          srcset="
            ../img/teacher2.webp,
            ../img/teacher2@2x.webp
            "
          alt="Artem teacher"
          class="teacher__img"
          width="150"
          height="150"
          >
        <h3 class="teacher__name">
          Artem
        </h3>
        <p class="teacher__description">
          With his innovative teaching techniques and a focus
          on interactive learning, Artem excels in keeping
          students engaged and motivated
        </p>
      </li>
      <li class="teachers__item">
        <img
          srcset="
            ../img/teacher3.webp,
            ../img/teacher3@2x.webp
            "
          alt="Ilona teacher"
          class="teacher__img"
          width="150"
          height="150"
        >
        <h3 class="teacher__name">
          Ilona
        </h3>
        <p class="teacher__description">
          A specialist in advanced English, Ilona provides
          intensive instruction, ensuring students gain
          confidence in complex language tasks
        </p>
      </li>
      <li class="teachers__item">
        <img
          srcset="
            ../img/teacher4.webp,
            ../img/teacher4@2x.webp
            "
          alt="Volodymyr teacher"
          class="teacher__img"
          width="150"
          height="150"
        >
        <h3 class="teacher__name">
          Volodymyr
        </h3>
        <p class="teacher__description">
          Our expert in English for specific purposes,
          Volodymyr tailors his approach to meet individual
          career and industry-specific language needs
        </p>
      </li>
    </ul>
  </div>
</section>