<section class="section section__reviews" id="reviews">
  <div class="container container__content">
    <div class="section__head">
      <h2 class="section__title">
        What our <span class="section__title--decoration">students</span> say
      </h2>

      <p class="section__content">
        Hear from our students about their learning journey with us, as they
        share their experiences, progress, and the transformative impact
      </p>
    </div>

    <ul class="reviews__list swiper-container">
      <div class="swiper-wrapper">
        <li class="reviews__item swiper-slide">
          <div class="reviews__user">
            <img
              srcset="./img/student1.webp, ./img/student1@2x.webp"
              src="./img/student1.webp"
              alt="Anna student"
              class="reviews__img"
              width="50"
              height="50"
            />

            <div class="reviews__info">
              <h3 class="reviews__name">Anna</h3>
              <p class="reviews__role">Student</p>
            </div>
          </div>

          <p class="reviews__description">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>

        <li class="reviews__item swiper-slide">
          <div class="reviews__user">
            <img
              srcset="./img/student2.webp, ./img/student2@2x.webp"
              src="./img/student2.webp"
              alt="Mykhailo student"
              class="reviews__img"
              width="50"
              height="50"
            />

            <div class="reviews__info">
              <h3 class="reviews__name">Mykhailo</h3>
              <p class="reviews__role">Student</p>
            </div>
          </div>

          <p class="reviews__description">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>

        <li class="reviews__item swiper-slide">
          <div class="reviews__user">
            <img
              srcset="./img/student3.webp, ./img/student3@2x.webp"
              src="./img/student3.webp"
              alt="Victoria student"
              class="reviews__img"
              width="50"
              height="50"
            />

            <div class="reviews__info">
              <h3 class="reviews__name">Victoria</h3>
              <p class="reviews__role">Student</p>
            </div>
          </div>

          <p class="reviews__description">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
      </div>
    </ul>
  </div>
</section>
